.utility-body {
    background: linear-gradient(transparent, rgb(91, 87, 115), #2a231f);
    padding: 30px;
    color: #2a231f;
    border-radius: 8px;
    position: relative;
    overflow: scroll;
}

::-webkit-scrollbar {
    display: none;
}

.song {
    /*position: absolute;*/
    height: 100vh;
}

.song > :first-child {
    margin-top: 10px;
}

.body > h1 {
    font-size: 35px;
}