.utility-body {
    background: linear-gradient(rgb(91, 87, 115), #2a231f);
    padding: 1.8rem;
    border-radius: 8px;

    /*SCROLLABLE DIV PART*/
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;

    overflow-y: scroll;
}

.utility-body h1 {
    color: #ecefee;
}

::-webkit-scrollbar {
    display: none;
}

.song > :first-child {
    margin-top: 10px;
}

.utility-body > h1 {
    font-size: 1.5rem;
}