/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*-------------------------------------------------*/

html, body {
	height: 100%;
}

.App {
	height: 100dvh;
	display: flex;
	flex-direction: column;
}

body {
	background-color: #ecefee;
	font-family: "Roboto Light", monospace;
}

/*Adding a night mode symbol might need the tomato groove h1 to be its own div and then add the h1 and icon div within that to flex it*/
h1 {
	font-size: 3rem;
	color: #2a231f;
}

.header {
	display: flex;
	justify-content: space-between;
	/*Might want to get this so that it is maxed 65px until it starts getting smaller*/
	height: 65px;
	padding: 0.5rem;
	position: relative;
	top: 0;
}

.utility {
	display: flex;
	flex-grow: 1;
	justify-content: space-between;
	padding: 0.5rem;

	/*border: solid 1px purple;*/
}

/*Allows scroll bars to be hidden but functional*/
body::-webkit-scrollbar {
	display: none;
}
