.list {
    display: flex;
    align-items: center;
}

.list > li {
    padding-left: 0.3rem;
}

[type=checkbox] {
    width: 0.6rem;
    height: 0.6rem;
    vertical-align: middle;
    -webkit-appearance: none;
    border: 0;
    outline: 0;
    flex-grow: 0;
    border-radius: 50%;
    background-color: #2a231f;
    transition: background 300ms;
    cursor: pointer;
}

[type=checkbox]:checked {
    background-color: #cd2200;
}

input:checked+li {
    text-decoration: line-through;
    animation-name: strike;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    color: rgba(42,35,31,0.6);
}

@keyframes strike{
  0%   { text-decoration-color : rgba(205, 34, 0, 0); }
  100% { text-decoration-color : rgba(205, 34, 0, 1); }
}

.list-div > h3 {
    font-size: 1.5rem;
}

.list-div > form {
    margin: 20px 0;
}

/*TODO: Items are not saved when user logs into Spotify*/

.list-div {
    padding: 1.8rem;
    color: #2a231f;

    /*SCROLLABLE DIV PART*/
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;

    overflow-y: scroll;
}

input {
    border: none;
    background: #ecefee;
    outline: none;
    border-bottom: 1px solid #2a231f;
}

.list-div-header {
    display: flex;
    justify-content: space-between;
}

.close-list {
    right: 1.8rem;
    color: #2a231f;
}

.close-list:hover {
    color: #cd2200;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    transform: scale(1.1) !important;
}

@keyframes slide-out-list {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-110%);
    }
}

.close-transition-list {
    animation: slide-out-list 0.5s;
    animation-fill-mode: forwards;
}
