body.active-modal {
    overflow-y: hidden;
}

.modal {
    position: fixed;
    z-index: 1;
    overflow-y: hidden;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(49, 49, 49, 0.8);
    overflow: hidden;
}

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;

    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: #ecefee;
    border-radius: 8px;
    padding: 20px;
    text-align: center;

    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    overflow: hidden;
}

.close-modal-btn {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.close-modal-btn:hover {
    cursor: pointer;
    animation: closeHover 0.2s ease-in;
    animation-fill-mode: forwards;
}

@keyframes closeHover {
    from {
        background-color: rgba(205, 34, 0, 0.8);
        border-radius: 99px;
    }
    to {
        background-color: rgba(205, 34, 0, 0.8);
        border-radius: 99px;
        transform: scale(1.1);
    }
}

@media (max-width: 600px) {
    .modal-content {
        width: 90%;
        padding: 15px;
    }

    .close-btn {
        font-size: 1.2em;
    }

    h2 {
        font-size: 1.5em;
    }

    p {
        font-size: 1em;
    }
}

@media (max-width: 400px) {
    .modal-content {
        width: 95%;
        padding: 10px;
    }

    .close-btn {
        font-size: 1em;
    }

    h2 {
        font-size: 1.2em;
    }

    p {
        font-size: 0.9em;
    }
}

/* TODO: Bugs out on the edge of the div */

