.pomodoro {
	display: flex;
	font-size: 5em;
	justify-content: center;
	align-items: center;
	color: #2a231f;

	/*border: solid 1px purple;*/
}

.timer:hover {
    cursor: pointer;
    background-color: rgba(205, 34, 0, 0.8);
    border-radius: 8px;
}


